.header {
    padding: 20px 0;
    border-bottom: 10px solid #16dbba;
    color: #f7fdff;
    background-color: #19223a;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}